# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
/home/pruthvi/project_Honeywell/anomaly_detection_project/roothoney.pem
/home/pruthvi/project_Honeywell/anomaly_detection_project/backend_key.pem
# Environment
.env
.env.local
.env.*.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Streamlit cache
.streamlit/
roothoney.pem
deploye_ec2.sh
ssh-key-for-ec2.sh
backend_key.pem
do_100_pushes.sh